<!-- <!DOCTYPE html>
<html>
<body>
<center><div><h1 style="color: #FF7A59"> My Personal Website</h1></center>
<p style="font-family: Arial"> Hello, {{ name }} </p>
</div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!--<style>
        body {
            background-image: url("https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style> -->
</head>
<body> 

<div>
    <center><h1> EV stations on Samsø</h1></center> <!-- style="color: #d2c0d7a5" --> 
    <center><p> <u>Please fill out the form below</u></p> 
        
        
        <form method="post">
            <h2> What are your coordinates?: </h2> 
          <label for="latitude">Latitude:</label>
          <input type="number" class="form-control" value="lat" id="lat" name="latitude" placeholder="LAT" step="any" required/>
          <br> <br>
          
          <label for="longitude">Longitude:</label>
          <input type="number" class="form-control" value="long" id="long" name="longitude" placeholder="LONG" step="any" required/>
          <br> <br>
          <!--<input type="submit"> -->
          <h2> Maximum traveling distance: </h2> 
          <label for="travel">Travel distance:</label>
          <input type="number" class="form-control" value="tra" id="tra" name="travel_dis" placeholder="TRA" step="any" required/>
          <br> <br>
          <button class="btn btn-primary btn-block">
            save
            </button>
        </form> 
        <p><a href="user">Back</a>
        <p><a href="/map">to map</a>
    </center> 
</div>

</body>
</html>