<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">
</head>
<body>

<div>
    <form action="user" type="button">
        <a href="user">
        <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="height: 30px; width: 300px; background-color: #f7bf53" textsize="20px">
        Find a charger near you!</button>
        </a>
    </form>
</div>

</body>
</html>